<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
     <listener class-name="qtpselenium.listener.MyTestNGListener"></listener>
 </listeners>   
    
  <test name="Login Test">
    <classes>
      <class name="qtpselenium.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Buy Stock Test">
    <classes>
      <class name="qtpselenium.testcases.BuyStockTest"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="Delete Stock Test">
    <classes>
      <class name="qtpselenium.testcases.DeleteStockTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
